Django==3.2.4
python-dotenv==0.19.0
djangorestframework==3.12.4
django-rest-knox==4.1.0
djangorestframework-api-key==2.0.0
django-cors-headers==3.7.0
channels==3.0.3
exponent-server-sdk==2.0.0
django-redis==5.0.0
celery==5.2.1
ratelimit==2.2.1
psycopg2-binary==2.9
daphne==3.0.2
django-storages==1.12.2
boto3==1.21.8
iso3166==2.0.2
